<div [@routerTransition]>
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
      <div [class]="containerClass">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("DynamicDatasource")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("DynamicDatasourceHeaderInfo")}}
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.DynamicDatasource.Create')" (click)="createDynamicDatasource()" 
			class="btn btn-action blue"><i class="fa fa-plus"></i> {{l("CreateNewDynamicDatasource")}}</button>
            </div>
        </div>
      </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getDynamicDatasource()" class="btn btn-action" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="kt-separator kt-separator--border-dashed"></div>
						     </div>


                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinTypeFilter">{{l("MinMax")}} {{l("Type")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinTypeFilter" [(ngModel)]="minTypeFilter" placeholder="{{l('MinValue')}}" name="minTypeFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxTypeFilter" placeholder="{{l('MaxValue')}}" name="maxTypeFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinObjectIdFilter">{{l("MinMax")}} {{l("ObjectId")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinObjectIdFilter" [(ngModel)]="minObjectIdFilter" placeholder="{{l('MinValue')}}" name="minObjectIdFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxObjectIdFilter" placeholder="{{l('MaxValue')}}" name="maxObjectIdFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinDynamicFieldIdFilter">{{l("MinMax")}} {{l("DynamicFieldId")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinDynamicFieldIdFilter" [(ngModel)]="minDynamicFieldIdFilter" placeholder="{{l('MinValue')}}" name="minDynamicFieldIdFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxDynamicFieldIdFilter" placeholder="{{l('MaxValue')}}" name="maxDynamicFieldIdFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinOrderFilter">{{l("MinMax")}} {{l("Order")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinOrderFilter" [(ngModel)]="minOrderFilter" placeholder="{{l('MinValue')}}" name="minOrderFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxOrderFilter" placeholder="{{l('MaxValue')}}" name="maxOrderFilter" />
									</div>
                                </div>
                            </div>	
							<div class="col-md-3">
								<label for="IsActiveFilterSelect">{{l("IsActive")}}</label>
								<select class="form-control" name="IsActiveFilter" id="IsActiveFilterSelect" [(ngModel)]="isActiveFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getDynamicDatasource($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.DynamicDatasource.Edit', 'Pages.DynamicDatasource.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="type">
                                        {{l('Type')}}
                                        <p-sortIcon field="dynamicDatasource.type"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="objectId">
                                        {{l('ObjectId')}}
                                        <p-sortIcon field="dynamicDatasource.objectId"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="dynamicFieldId">
                                        {{l('DynamicFieldId')}}
                                        <p-sortIcon field="dynamicDatasource.dynamicFieldId"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="order">
                                        {{l('Order')}}
                                        <p-sortIcon field="dynamicDatasource.order"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="isActive">
                                        {{l('IsActive')}}
                                        <p-sortIcon field="dynamicDatasource.isActive"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.DynamicDatasource.Edit', 'Pages.DynamicDatasource.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-action" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;"
														(click)="viewDynamicDatasourceModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
													<a href="javascript:;" *ngIf="permission.isGranted('Pages.DynamicDatasource.Edit')"
														(click)="createOrEditDynamicDatasourceModal.show(record.dynamicDatasource.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a href="javascript:;" *ngIf="permission.isGranted('Pages.DynamicDatasource.Delete')"
														(click)="deleteDynamicDatasource(record.dynamicDatasource)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Type')}}</span>
											{{record.dynamicDatasource.type}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('ObjectId')}}</span>
											{{record.dynamicDatasource.objectId}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('DynamicFieldId')}}</span>
											{{record.dynamicDatasource.dynamicFieldId}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Order')}}</span>
											{{record.dynamicDatasource.order}}
										</td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('IsActive')}}</span>
                                        <div *ngIf="record.dynamicDatasource.isActive" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div *ngIf="!record.dynamicDatasource.isActive" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getDynamicDatasource($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditDynamicDatasourceModal #createOrEditDynamicDatasourceModal (modalSave)="getDynamicDatasource()"></createOrEditDynamicDatasourceModal>
    <viewDynamicDatasourceModal #viewDynamicDatasourceModal></viewDynamicDatasourceModal>
    
  </div>
</div>
