<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #dangKyKCBForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="dangKyKCB.id">{{l("EditDangKyKCB")}}</span>
                        <span *ngIf="!dangKyKCB.id">{{l("CreateNewDangKyKCB")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="DangKyKCB_TenNoiKCB">{{l("TenNoiKCB")}}</label>
									<input type="text" id="DangKyKCB_TenNoiKCB" class="form-control" [(ngModel)]="dangKyKCB.tenNoiKCB" name="TenNoiKCB"    />
								</div>
					
								<div class="form-group">
									<label for="DangKyKCB_MaNoiKCB">{{l("MaNoiKCB")}}</label>
									<input type="text" id="DangKyKCB_MaNoiKCB" class="form-control" [(ngModel)]="dangKyKCB.maNoiKCB" name="MaNoiKCB"    />
								</div>
					
								<div class="form-group">
									<label for="DangKyKCB_DiaChi">{{l("DiaChi")}}</label>
									<input type="text" id="DangKyKCB_DiaChi" class="form-control" [(ngModel)]="dangKyKCB.diaChi" name="DiaChi"    />
								</div>
					
								<div class="form-group">
									<label for="DangKyKCB_TinhThanhID">{{l("TinhThanhID")}}</label>
									<input type="number" id="DangKyKCB_TinhThanhID" class="form-control" [(ngModel)]="dangKyKCB.tinhThanhID" name="TinhThanhID"  />
								</div>
					
								<div class="form-group">
									<label for="DangKyKCB_GhiChu">{{l("GhiChu")}}</label>
									<input type="text" id="DangKyKCB_GhiChu" class="form-control" [(ngModel)]="dangKyKCB.ghiChu" name="GhiChu"    />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-action blue" [disabled]="!dangKyKCBForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>