<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{ l("Quản lý  các chức năng xử lý") }}</span>
                    </h3>
                </div>
                <div class="kt-subheader__toolbar"></div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                        <dx-form  [showValidationSummary]="true" validationGroup="formValidateGroup">
                            <dxi-item itemType="group" caption="1. Quản lý chức năng Button"  cssClass="item-bold">
                                        <div class="row">
                                                <div class="dx-field">
                                                <div class="dx-field-label">Chọn màn hình</div>
                                                    <div class="dx-field-value">
                                                       
                                                        <dx-select-box id="selectBox1" dataSource="labels" displayExpr="name" valueExpr="id"
                                                           (onSelectionChanged)="onValueChangedLabel($event)"  >
                                                        </dx-select-box>
                                                    </div>
                                                </div>
                                                &nbsp;
                                                &nbsp;
                                                <div class="dx-field">
                                                        <div class="dx-field-label">Chọn Role</div>
                                                        <div class="dx-field-value">
                                                            <dx-select-box id="selectBox2" dataSource="roles" displayExpr="displayName" valueExpr="id"
                                                            (onSelectionChanged)="onValueChangedRole($event)" >
                                                            </dx-select-box>
                                                        </div>
                                                    </div>
                                                    &nbsp;
                                                    &nbsp;
                                                    <div class="dx-field">
                                                            <div class="dx-field-label">Chọn Tenant</div>
                                                            <div class="dx-field-value">
                                                                <dx-select-box id="selectBox3" dataSource="tenants" displayExpr="name" valueExpr="id"
                                                                (onSelectionChanged)="onValueChangedTenant($event)"  >
                                                                </dx-select-box>
                                                            </div>
                                                        </div>

                                               
                                                        <div class="dx-field-label">
                                                                <dx-button type="success" icon="fa fa-save" text="OK" (onClick)="okCLick($event)"></dx-button>
                                                            </div>
                                        </div>
                                          
                                        <div class="row align-items-center">
                                                <!--<Primeng-Datatable-Start>-->
                        
                                                <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                                                    <dx-data-grid id="gridContainer" showRowLines="true" dataSource="dataSource"
                                                        showBorders="true" showColumnLines="true"
                                                        (onSelectionChanged)="selectionChanged($event)">
                                                        <dxo-paging [enabled]="false"></dxo-paging>
                                                        <dxo-editing mode="cell" refreshMode="reshape" [allowUpdating]="true"
                                                            [allowDeleting]="true" useIcons="true">
                                                        </dxo-editing>
                                                        <!-- <dxo-selection mode="multiple"></dxo-selection> -->
                                                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]">
                                                        </dxo-pager>
                        
                                                        <dxi-column [allowFiltering]="false" dataField="hasSave" caption="Lưu" width="50" dataType="boolean" >
                                                        </dxi-column>
                                                        <dxi-column [allowFiltering]="false" dataField="hasTransfer" caption="Chuyển" width="200" dataType="string"  >
                                                                <dxo-lookup
                                                                dataSource="lookupData"
                                                                valueExpr="hasTransfer" 
                                                                displayExpr="name"> 
                                                                </dxo-lookup>
                                                        
                                                        </dxi-column>
                                                        <dxi-column [allowFiltering]="false" dataField="hasSaveAndTransfer" caption="Lưu và chuyển" width="150" dataType="string">
                                                                <dxo-lookup
                                                                dataSource="lookupData"
                                                                valueExpr="hasSaveAndTransfer" 
                                                                displayExpr="name"> 
                                                                </dxo-lookup>
                                                        </dxi-column>
                                                        <dxi-column [allowFiltering]="false" dataField="hasFinish" caption="Kết thúc" width="70" dataType="boolean">
                                                        </dxi-column>
                                                        <dxi-column [allowFiltering]="false" dataField="hasReturn" caption="Trả về" width="70" dataType="boolean">
                                                        </dxi-column>
                                                        <dxi-column [allowFiltering]="false" dataField="hasCreate" caption="Thêm mới" width="100" dataType="boolean">
                                                        </dxi-column>
                                                        <dxi-column [allowFiltering]="false" dataField="hasDelete" caption="Xóa" width="50" dataType="boolean">
                                                        </dxi-column>
                                                        <dxi-column [allowFiltering]="false" dataField="hasAssignWork" caption="Giao việc" width="150" dataType="boolean">
                                                                <dxo-lookup
                                                                dataSource="lookupData"
                                                                valueExpr="name" 
                                                                displayExpr="name"> 
                                                                </dxo-lookup>
                                                        </dxi-column>
                                                        <dxi-column [allowFiltering]="false" dataField="hasSaveAndCreate" caption="Lưu và thêm mới" width="150" dataType="boolean">
                                                        </dxi-column>
                                                        <dxi-column [allowFiltering]="false" dataField="hasReport" caption="Phiếu trình" width="100" dataType="boolean">
                                                        </dxi-column>
                                                        <dxi-column [allowFiltering]="false" dataField="hasAssignWork" caption="Chuyển bổ sung" width="150" dataType="boolean">
                                                        </dxi-column>
                                                        <dxo-lookup
                                                        dataSource="lookupData"
                                                        valueExpr="hasAssignWork" 
                                                        displayExpr="name"> 
                                                        </dxo-lookup>
                                                        <dxi-column [allowFiltering]="false" dataField="hasAssignWork" caption="Nhập giống VB Trước" width="200" dataType="boolean">
                                                        </dxi-column>
                                                        <dxi-column [allowFiltering]="false" dataField="position" caption="Vị trí" width="100" dataType="string">
                                                                <dxo-lookup
                                                                dataSource="lookupData"
                                                                valueExpr="position" 
                                                                displayExpr="name"> 
                                                                </dxo-lookup>
                                                        </dxi-column>
                                                     
                                                    </dx-data-grid>
                                                  
                                                    
                        
                                                    <!-- <div class="dx-field-label">
                                                    <dx-button   type="success" icon="fa fa-save" text="Lưu" (onClick)="save()"></dx-button>
                                                    </div>
                                                </div> -->
                                        </div>
                                    </div>
                            </dxi-item>
                        </dx-form>
                  
                        <dx-form  [showValidationSummary]="true" validationGroup="formValidateGroup">
                                <dxi-item itemType="group" caption="2. Quản lý chức năng Cell Template"  cssClass="item-bold">
                                           <div class="dx-field">
                                                <div class="dx-field-label">Chọn chức năng xử lý</div>
                                                <div class="dx-field-value">
                                                    <dx-tag-box
                                                        dataSource="lookupData"
                                                        displayExpr="name"
                                                        valueExpr="id">
                                                    </dx-tag-box>
                                                </div>
                                            </div>
                                              
                            </dxi-item>
                        </dx-form>

                        <div class="dx-field-label">
                                <dx-button   type="success" icon="fa fa-save" text="Lưu" (onClick)="save()"></dx-button>
                         </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>