<div class="buttons-demo">
    <div class="buttons">
        <dx-button text="Chuyển" type="success" icon="download" (onClick)="transfer([])" > </dx-button>
        &nbsp;
        <!-- <dx-button *ngIf="data.isBack" text="Trở về" type="success" icon="fa fa-arrow-left" onclick="window.history.go(-1); return false;"></dx-button>
        &nbsp; 
        <dx-button *ngIf="data.hasAddNew" text="Thêm mới" type="success" icon="fa fa-plus" (onClick)="create()"  > </dx-button> 
        &nbsp;
        <dx-button *ngIf="data.hasSave" text="Lưu" type="success" icon="save" (onClick)="hasSave()" > </dx-button>
        &nbsp;
        <dx-button text="Chuyển" type="success" icon="download" (onClick)="transfer()" > </dx-button>
        &nbsp;
        <dx-button *ngIf="data.hasSaveAndTransfer" text="Lưu và chuyển" type="success" icon="download" (onClick)="click1()" > </dx-button>
        &nbsp;
        <dx-button *ngIf="data.hasReport" text="Phiếu trình" type="success" icon="comment" onclick="window.history.go(1); return false;"></dx-button>
        &nbsp; 
        
        <dx-button *ngIf="data.hasReport" text="Nhìn giống VB trước" type="success" icon="floppy" (onClick)="addMove()" > </dx-button>
        &nbsp;

        <dx-button *ngIf="data.hasDelete" text="Xóa" type="success" icon="fa fa-arrow-left" onclick="window.history.go(-1); return false;"></dx-button>
        &nbsp; 
        <dx-button *ngIf="data.hasReport" text="Báo cáo" type="success" icon="fa fa-plus" (onClick)="addMove()"  > </dx-button> 
        &nbsp;
        <dx-button *ngIf="data.hasSaveAndCreate" text="Lưu và tạo mới" type="success" icon="save" (onClick)="luu()" > </dx-button>
        &nbsp;
        <dx-button *ngIf="data.HasAssignWork" text="Phân công" type="success" icon="download" (onClick)="click1()" > </dx-button>
        &nbsp;

        <dx-button *ngIf="data.hasDelete" text="Xóa" type="success" icon="fa fa-arrow-left" onclick="window.history.go(-1); return false;"></dx-button>
        &nbsp; 
        <dx-button *ngIf="data.hasReport" text="Báo cáo" type="success" icon="fa fa-plus" (onClick)="addMove()"  > </dx-button> 
        &nbsp;
        <dx-button *ngIf="data.hasSaveAndCreate" text="Lưu và tạo mới" type="success" icon="save" (onClick)="luu()" > </dx-button>
        &nbsp;
        <dx-button *ngIf="data.HasAssignWork" text="Phân công" type="success" icon="download" (onClick)="click1()" > </dx-button>
        &nbsp; -->
    </div>
</div>
    
               

