<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <div class="col-xl-12" style="padding-top: 5px;">
                        <dx-button text="Thêm mới" type="success" icon="fa fa-plus" (onClick)="createHoSo()">
                        </dx-button>
                        &nbsp;
                        <dx-button text="Chỉnh sửa" type="success" icon="rename" [disabled]="a"
                            (onClick)="editHoSoModal()"> </dx-button>
                        &nbsp;
                        <dx-button text="xóa" type="success" icon="clear" [disabled]="a" (onClick)="deleteHoSo()">
                        </dx-button>
                        &nbsp;
                        <dx-button text="Xem chi tiết" type="success" [disabled]="a" icon="menu"
                            (onClick)="viewHoSoModal.show(data)"></dx-button>
                        &nbsp;
                        <dx-button text="Xuất excel" type="success" icon="exportpdf" (onClick)="exportToExcel()">
                        </dx-button>
                        &nbsp;
                        <dx-button text="Tải mẫu Import" type="success" icon="exportpdf" (onClick)="dowloadTemplate()">
                        </dx-button>

                    </div>

                </div>


            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            <span> <i class="fas fa-home"></i> {{l("Trang chủ")}} | {{l("Danh sách hồ sơ")}} </span>
                        </h3>
                        <div class="kt-subheader__main" id="fileuploader-container">
                            <dx-file-uploader selectButtonText="Import hồ sơ " uploadUrl="{{uploadUrl}}" labelText=""
                                showFileList="false" accept="*" uploadMode="instantly" [(value)]="value"
                                (onUploaded)="importToExcel()">
                            </dx-file-uploader>
                        </div>
                    </div>
                    <br>
                    <br>


                    <!-- [scrolling]="{showScrollbar: 'always', useNative: true}" -->
                    <div class="row align-items-center">
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <dx-data-grid #gridContainer id="gridContainer" [height]="530" [showColumnLines]="true"
                                [(selectedRowKeys)]="selectedRowsData" (onLazyLoad)="getHoSos()"
                                (onRowClick)="startEdit($event)"
                               [remoteOperations]="false"
                                [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true"
                                [allowColumnResizing]="true" [columnAutoWidth]="true" [(dataSource)]="listDataHoSo"
                                [cellHintEnabled]="true">
                                <dxo-selection mode="single"> </dxo-selection>
                                <!-- <dxo-export   [enabled]="true" fileName="ListUngVien" [allowExportSelectedData]="true"></dxo-export> -->
                                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"
                                    [showInfo]="true"></dxo-pager>
                                <dxo-search-panel [visible]="true" placeholder="Nhập nội dung..." width="450">
                                </dxo-search-panel>
                                <dxo-header-filter [visible]="true"></dxo-header-filter>
                                <dxo-filter-row [visible]="false"></dxo-filter-row>
                                <dxo-paging [pageSize]="10"></dxo-paging>
                                <dxi-column dataField="stt" alignment="left" [allowFiltering]="false" caption="STT">
                                </dxi-column>

                                <dxi-column dataField="maChamCong" [allowSearch]="true" [allowFiltering]="false"
                                    alignment="left" caption="Mã chấm công"> </dxi-column>
                                <dxi-column dataField="maNhanVien" [allowSearch]="true" [allowFiltering]="false"
                                    alignment="left" caption="Mã nhân viên"> </dxi-column>
                                <dxi-column dataField="hoVaTen" [allowSearch]="true" alignment="left"
                                    [allowFiltering]="false" caption="Họ và tên"> </dxi-column>
                                <dxi-column dataField="ngaySinh" [allowSearch]="true" alignment="left"
                                    [allowFiltering]="false" dataType="date" format="d/M/yyyy" caption="Ngày sinh ">
                                </dxi-column>
                                <dxi-column dataField="trinhDoDaoTaoCode" [allowSearch]="true" alignment="left"
                                caption="Trình độ"> </dxi-column>
                                <dxi-column dataField="gioiTinhCode" [allowSearch]="true" alignment="left"
                                    caption="Giới tính"> </dxi-column>
                                <dxi-column dataField="soCMND" [allowSearch]="true" alignment="left"
                                    [allowFiltering]="false" caption="Số CMND"> </dxi-column>
                                <dxi-column dataField="ngayCap" [allowSearch]="true" alignment="left"
                                    [allowFiltering]="false" dataType="date" format="d/M/yyyy" caption="Ngày cấp ">
                                </dxi-column>
                                <dxi-column dataField="noiCap" [allowSearch]="true" alignment="left"
                                    caption="Nơi cấp"> </dxi-column>
                                <dxi-column dataField="mstCaNhan" [allowSearch]="true" alignment="left"
                                    [allowFiltering]="false" caption="MST cá nhân"> </dxi-column>
                                <dxi-column dataField="dtDiDong" [allowSearch]="true" alignment="left"
                                    caption="SĐT"> </dxi-column>
                                <dxi-column dataField="diaChiHKTT" [allowSearch]="true" alignment="left"
                                    caption="Địa chỉ HKTT"> </dxi-column>

                                <dxi-column dataField="chucDanh" [allowSearch]="true" alignment="left"
                                    caption="Chức danh"> </dxi-column>
                             

                                <dxi-column dataField="donViCongTacName" [allowSearch]="true" alignment="left"
                                    caption="Đơn vị công tác"></dxi-column>
                                    <dxi-column dataField="hopDongHienTai" [allowSearch]="true" alignment="left"
                                    caption="Loại hợp đồng"></dxi-column>
                                <dxi-column dataField="ngayHetHan" [allowSearch]="true" alignment="left"
                                    [allowFiltering]="false" dataType="date" format="d/M/yyyy" caption="Ngày hết hạn ">
                                </dxi-column>

                                <dxi-column dataField="ngayThuViec" [allowSearch]="true" alignment="left"
                                [allowFiltering]="false" dataType="date" format="d/M/yyyy" caption="Ngày vào cty ">
                            </dxi-column>
                                <!-- <dxi-column dataField="hoSo.danToc" [allowSearch]="true" alignment="left"
                                    caption="Dân tộc"> </dxi-column> -->
                                <!-- <dxi-column dataField="hoSo.tonGiao" [allowSearch]="true" alignment="left"
                                    caption="Tôn giáo"> </dxi-column>
                                <dxi-column dataField="hoSo.quocTich" [allowSearch]="true" alignment="center"
                                    caption="Quốc tịch"> </dxi-column> -->

                                <!-- <dxi-column dataField="trinhDoDaoTaoValue" [allowSearch]="true" alignment="left"
                                    caption="Trình độ đào tạo"></dxi-column>
                                <dxi-column dataField="tinhTrangHonNhanValue" [allowSearch]="true" alignment="left"
                                    caption="Tình trạng hôn nhân"> </dxi-column>
                                <dxi-column dataField="hoSo.chucDanh" [allowSearch]="true" alignment="left"
                                    caption="Nguyên quán"></dxi-column> -->
                                <!-- <dxi-column dataField="tinhThanhIDHKTTValue" [allowSearch]="true" alignment="left"
                                    caption="Địa chỉ HKTT"> </dxi-column> -->



                                    <dxi-column dataField="nganHangCode" [allowSearch]="true" [allowFiltering]="false"
                                    alignment="left" caption="Ngân hàng"> </dxi-column>

                                    <dxi-column dataField="choNgoi" [allowSearch]="true" [allowFiltering]="false"
                                    alignment="left" caption="Chỗ ngồi"> </dxi-column>

                                    <dxi-column dataField="tkNganHang" [allowSearch]="true" [allowFiltering]="false"
                                    alignment="left" caption="Số tài khoản"> </dxi-column>

                                    <dxi-column dataField="soHD" [allowSearch]="true" [allowFiltering]="false"
                                    alignment="left" caption="Số hợp đồng"> </dxi-column>
                                    <dxi-column dataField="tenCty" [allowSearch]="true" 
                                    alignment="left" caption="Tên công ty"> </dxi-column>
                             
                            </dx-data-grid>


                        </div>
                    </div>
                </div>
                <viewHoSoModal #viewHoSoModal></viewHoSoModal>

            </div>
        </div>
        <style>
            #myButton {
                color: white;

            }

            .dx-widget *:before {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                color: white;
            }

            .dx-fileuploader-input-wrapper .dx-button {
                float: right;
            }

            .dx-button-content {
                color: white;
            }

            .dx-row.dx-column-lines.dx-header-row {
                background-color: #248cbf;
            }

            .dx-datagrid-borders>.dx-datagrid-headers,
            .dx-datagrid-borders>.dx-datagrid-filter-panel {
                border-top: 1px solid #ddd;
            }

            .dx-checkbox-icon {
                width: 22px;
                height: 22px;
                border-radius: 2px;
                border: 1px solid #ddd;
                background-color: #248cbf;
            }
        </style>