<div [@routerTransition]>
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
      <div [class]="containerClass">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("DynamicFields")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("DynamicFieldsHeaderInfo")}}
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.DynamicFields.Create')" (click)="createDynamicField()" 
			class="btn btn-action blue"><i class="fa fa-plus"></i> {{l("CreateNewDynamicField")}}</button>
            </div>
        </div>
      </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getDynamicFields()" class="btn btn-action" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="kt-separator kt-separator--border-dashed"></div>
						     </div>


                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinModuleIdFilter">{{l("MinMax")}} {{l("ModuleId")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinModuleIdFilter" [(ngModel)]="minModuleIdFilter" placeholder="{{l('MinValue')}}" name="minModuleIdFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxModuleIdFilter" placeholder="{{l('MaxValue')}}" name="maxModuleIdFilter" />
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="TableNameFilter">{{l("TableName")}}</label>
									<input type="text" class="form-control" id="TableNameFilter" name="tableNameFilter" [(ngModel)]="tableNameFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="NameFilter">{{l("Name")}}</label>
									<input type="text" class="form-control" id="NameFilter" name="nameFilter" [(ngModel)]="nameFilter">
								</div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinTypeFieldFilter">{{l("MinMax")}} {{l("TypeField")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinTypeFieldFilter" [(ngModel)]="minTypeFieldFilter" placeholder="{{l('MinValue')}}" name="minTypeFieldFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxTypeFieldFilter" placeholder="{{l('MaxValue')}}" name="maxTypeFieldFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinWidthFilter">{{l("MinMax")}} {{l("Width")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinWidthFilter" [(ngModel)]="minWidthFilter" placeholder="{{l('MinValue')}}" name="minWidthFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxWidthFilter" placeholder="{{l('MaxValue')}}" name="maxWidthFilter" />
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="NameDescriptionFilter">{{l("NameDescription")}}</label>
									<input type="text" class="form-control" id="NameDescriptionFilter" name="nameDescriptionFilter" [(ngModel)]="nameDescriptionFilter">
								</div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinWidthDescriptionFilter">{{l("MinMax")}} {{l("WidthDescription")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinWidthDescriptionFilter" [(ngModel)]="minWidthDescriptionFilter" placeholder="{{l('MinValue')}}" name="minWidthDescriptionFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxWidthDescriptionFilter" placeholder="{{l('MaxValue')}}" name="maxWidthDescriptionFilter" />
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="ClassAttachFilter">{{l("ClassAttach")}}</label>
									<input type="text" class="form-control" id="ClassAttachFilter" name="classAttachFilter" [(ngModel)]="classAttachFilter">
								</div>
                            </div>

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getDynamicFields($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.DynamicFields.Edit', 'Pages.DynamicFields.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="moduleId">
                                        {{l('ModuleId')}}
                                        <p-sortIcon field="dynamicField.moduleId"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="tableName">
                                        {{l('TableName')}}
                                        <p-sortIcon field="dynamicField.tableName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="name">
                                        {{l('Name')}}
                                        <p-sortIcon field="dynamicField.name"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="typeField">
                                        {{l('TypeField')}}
                                        <p-sortIcon field="dynamicField.typeField"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="width">
                                        {{l('Width')}}
                                        <p-sortIcon field="dynamicField.width"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="nameDescription">
                                        {{l('NameDescription')}}
                                        <p-sortIcon field="dynamicField.nameDescription"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="widthDescription">
                                        {{l('WidthDescription')}}
                                        <p-sortIcon field="dynamicField.widthDescription"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="classAttach">
                                        {{l('ClassAttach')}}
                                        <p-sortIcon field="dynamicField.classAttach"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.DynamicFields.Edit', 'Pages.DynamicFields.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-action" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;"
														(click)="viewDynamicFieldModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
													<a href="javascript:;" *ngIf="permission.isGranted('Pages.DynamicFields.Edit')"
														(click)="createOrEditDynamicFieldModal.show(record.dynamicField.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a href="javascript:;" *ngIf="permission.isGranted('Pages.DynamicFields.Delete')"
														(click)="deleteDynamicField(record.dynamicField)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('ModuleId')}}</span>
											{{record.dynamicField.moduleId}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('TableName')}}</span>
											{{record.dynamicField.tableName}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Name')}}</span>
											{{record.dynamicField.name}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('TypeField')}}</span>
											{{record.dynamicField.typeField}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Width')}}</span>
											{{record.dynamicField.width}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('NameDescription')}}</span>
											{{record.dynamicField.nameDescription}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('WidthDescription')}}</span>
											{{record.dynamicField.widthDescription}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('ClassAttach')}}</span>
											{{record.dynamicField.classAttach}}
										</td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getDynamicFields($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditDynamicFieldModal #createOrEditDynamicFieldModal (modalSave)="getDynamicFields()"></createOrEditDynamicFieldModal>
    <viewDynamicFieldModal #viewDynamicFieldModal></viewDynamicFieldModal>
    
  </div>
</div>
